<!DOCTYPE html>
<html>
<head>
	<style>
    body {background-image: url('https://lh3.googleusercontent.com/pw/ACtC-3efwxIeST-NuIFyNfKngHm3tObkAN8Q30nfmL7PKMgoGCTilkYjJIa3Q3KuUMmj_Mldg5s3XtTG4_TUAZvCj8VmgizeWZ3bfXANPA5liXIpy_JBX5HQMfzN4-_gTp5pBZDg71P3kjPV2QWBLYbeMJ_b=w1632-h918-no?authuser=0'); no-repeat;background-attachment: fixed;
  }
    </style>
    <meta charset='utf-8'>
    <title>
        test
    </title>
</head>
<body>
    <h1>test</h1>
    <hr>
    {{posts}}
    <hr>
    <h3>現在時刻：{{ now }}</h3>
</body>
</html>
